---
const {flavor, powerClass, type, level, name, title, frequency, keywords, action, range, effect} = Astro.props
---
<html>
  <head id="Head1">
    <title>{title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
    <body>
      <div id="detail">
        <h1 class="dailypower">
          <span class="level">{powerClass} {type} {level}</span>
          {name}
        </h1>
        <p class="flavor">
          <i>
            {flavor}
          </i>
        </p>
        <p class="powerstat">
          <b>{frequency}</b>
          {keywords.map((keyword) => (<b>{keyword}</b>))}
          <b>{action}</b>
          <b>{range}</b>
        </p><p class="flavor">
          <b>Effect</b>: {effect}
        </p><br /><h1 class="dailypower">
          <span class="level"></span>Living Breach Attack
        </h1><p class="powerstat">
          <b>Daily</b>
          <img src="images/bullet.gif" alt="" />&nbsp;&nbsp;&nbsp;&nbsp; <b
            >Polymorph</b
          >, <b>Primal</b>, <b>Varies</b>, <b>Weapon</b><br /><b
            >Standard Action</b
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Close</b> burst 1
        </p><p class="flavor">
          <b>Requirement</b>: The power Form of the Living Breach must be active
          in order to use this power.
        </p><p class="powerstat"><b>Target</b>: Each enemy in the burst</p><p
          class="powerstat"
        >
          <b>Attack</b>: Strength vs. AC
        </p><p class="flavor">
          <b>Hit</b>: 4[W] + Strength modifier damage, and the target takes
          ongoing 10 damage of the type you chose for your Elemental Breach
          class feature (save ends).
        </p><p class="powerstat">
          <b>Each Failed Saving Throw</b>: Each enemy adjacent to the target
          takes 5 damage of the type matching the ongoing damage.
        </p><br /><p class="publishedIn">
          Published in <a
            href="http://anonym.to/?http://www.wizards.com/default.asp?x=dnd/drtoc/383"
            target="_new">Dragon Magazine 383</a
          >, page(s) 61.
        </p>
      </div>
  </body>
</html>
