---
import Head from '../components/Head.astro'

const {name, flavorTxt, height, weight,
  abilityScores, size, speed, vision,
  languages, skillBonuses, power,
  uniqueFeatures, characteristics,
  femNames, mascNames, physTxt, tipsTxt
} = Astro.props.data

console.log(name);
let uniqueEntries = Object.entries(uniqueFeatures);

---
<!DOCTYPE html>
<html lang="en">
  <Head name={name}/>
  <div class="p-3 bg-ivory">
    <h1 class="name text-ivory">{name}</h1>
    <p class="mb-6 px-2 leading-relaxed">{flavorTxt}</p>
    <blockquote class="bg-gainsboro mb-6 pb-2 shadow-sm">
      <div class="font-bold text-xl m-0 bg-pgl-red text-ivory px-2 py-1 mb-2">RACIAL TRAITS</div>
      <div class="font-light px-2 pb-1"><b class="font-bold">Average Height</b>: {height}</div>
      <div class="font-light px-2 pb-1"><b class="font-bold">Average Weight</b>: {weight}</div>
      <div class="font-light px-2 pb-1"><b class="font-bold">Ability scores</b>: {abilityScores}</div>
      <div class="font-light px-2 pb-1"><b class="font-bold">Size</b>: {size}</div>
      <div class="font-light px-2 pb-1"><b class="font-bold">Speed</b>: {speed}</div>
      {vision && <div class="font-light px-2 pb-1"><b class="font-bold">Vision</b>: {vision}</div>}
      <div class="font-light px-2 pb-1"><b class="font-bold">Languages</b>: {languages}</div>
      {skillBonuses && <div class="font-light px-2 pb-1"><b class="font-bold">Skill Bonuses</b>: {skillBonuses}</div>}
      <ul class="px-2">
        {uniqueEntries.map(([key, value]) => {
          key = (key.charAt(0).toUpperCase() + key.slice(1).replace(/([A-Z])/g, ' $1')).trim();
          return <li class="pb-1 font-light"><b class="font-bold">{key}</b>: {value}</li>
        })}
      </ul>
    </blockquote>
    <!-- <h1>{power}</h1> -->
    <div class="mb-6 px-2 leading-relaxed font-light"><h3 class="text-base font-bold leading-none tracking-normal mb-1">PHYSICAL QUALITIES</h3>{physTxt}</div>
    <div class="mb-6 px-2 leading-relaxed font-light"><h3 class="text-base font-bold leading-none tracking-normal mb-1">PLAYING A {name.toUpperCase()}</h3> {tipsTxt}</div>
    <div class="mb-6 px-2 font-light"><b class="font-bold">{name} Characteristics</b>: {characteristics.join(', ')}</div>
    <div class="mb-6 px-2 font-light"><b class="font-bold">{femNames.length > 0 && "Female Names"}</b>: {femNames.join(', ')}</div>
    <div class="mb-6 px-2 font-light"><b class="font-bold">{mascNames.length > 0 && "Male Names"}</b>: {mascNames.join(', ')}</div>
    <p class="px-2 mb-3">
    Published in <a
      href="http://anonym.to/?http://www.wizards.com/dnd/Product.php?x=dnd/products/dndacc/317310000"
      target="_new">Heroes of the Feywild</a
    >, page(s) 22.d
    </p>
  </div>
</html>